/*this is a stylesheet and this is a comment.*/


h1 {
  font-family: Georgia, Helvetica, sans-serif;
  font-style: italic;
  font-weight: bold;
  line-height: 2em;
  font-size: 14px;
}

h2 {
  font-family: Georgia;
  font-style: italic;
  font-weight: bold;
  line-height: 2em;
  font-size: 13px;
}

p {
  font-family: Palatino, Helvetica;
  font-size: 11px;
  font-variant:small-caps;
  line-height: .5em;
  
}
