/*this is a stylesheet and this is a comment.*/


h1 {
  font-family: Georgia, Helvetica, sans-serif;
  font-style: italic;
  font-weight: bold;

}

p {
  font-family: Palatino, Helvetica;
  font-size: 9px;
  font-variant:small-caps;
  
}
